@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
body {
  margin: 0;
  font-family: Lato, sans-serif;
}

.header {
  background: #222222;
  height: 74px;
  padding: 18px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header i {
  color: #e8e8e8;
}

.header__search {
  margin-left: 41px;
}

.header__user {
  display: none;
  margin-left: 25px;
  margin-right: 42px;
}

.header__cart-wrap {
  display: none;
  position: relative;
}

.header__cart-wrap span {
  display: inline-block;
  width: 19px;
  height: 19px;
  color: white;
  background: #f16d7f;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  right: -8px;
  top: -19px;
  font-size: 12px;
  line-height: 19px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1600px) {
  .container {
    margin: 0 auto;
    width: 1140px;
  }
}

@media (min-width: 768px) {
  .header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .header__user {
    display: inline;
  }
  .header__cart-wrap {
    display: inline;
  }
}

.brand {
  min-height: 363px;
  position: relative;
}

.brand__wrap {
  min-height: inherit;
}

.brand__left {
  display: none;
}

.brand__left img {
  display: block;
  width: 100%;
}

.brand__right {
  background: #f1e4e6;
  min-height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222222;
}

.brand__promo {
  border-left: 12px solid #f16d7f;
  padding-left: 15px;
  height: 61px;
}

.brand__promo div:first-child {
  font-weight: 900;
  font-size: 38px;
  line-height: 27px;
}

.brand__promo div:last-child {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-top: 14px;
}

.brand__promo span {
  color: #f16d7f;
}

.brand__dark {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .brand__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .brand__wrap > div {
    width: 50%;
  }
  .brand__left {
    display: block;
  }
  .brand__promo {
    height: 78px;
  }
  .brand__promo div:first-child {
    font-size: 44px;
    line-height: 33px;
  }
  .brand__promo div:last-child {
    margin-top: 25px;
  }
}

@media (min-width: 1600px) {
  .brand__right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .brand__promo {
    margin-left: 64px;
  }
  .brand__promo div:first-child {
    font-size: 48px;
  }
  .brand__promo div:last-child {
    font-size: 32px;
    margin-top: 21px;
  }
}

.hidden {
  display: none;
}

.menu {
  width: 232px;
  height: inherit;
  background: white;
  margin-left: auto;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 37px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  max-height: inherit;
  overflow: auto;
}

.menu__close {
  position: absolute;
  right: 16px;
  top: 16px;
}

.menu__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 16px;
}

.menu__header {
  font-size: 14px;
  line-height: 33px;
  color: #f16d7f;
}

.menu__unit a {
  display: block;
  font-size: 14px;
  line-height: 33px;
  color: #6f6e6e;
  text-decoration: none;
  margin-left: 21px;
}

.offers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (247px)[3] 111px;
      grid-template-rows: repeat(3, 247px) 111px;
  row-gap: 32px;
  padding: 64px 16px;
}

.offers > div {
  position: relative;
}

.offers img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.offers__title {
  position: relative;
  z-index: 1;
  color: white;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.offers__title-bottom {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

@media (min-width: 768px) {
  .offers {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 167px 116px;
        grid-template-rows: 167px 116px;
    gap: 20px;
  }
  .offers__accesories {
    grid-column: 1/-1;
  }
}

.featured {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 96px;
}

.featured h2 {
  margin-top: 0;
  margin-bottom: 3px;
  text-align: center;
  color: #222222;
}

.featured__title {
  text-align: center;
  color: #9f9f9f;
  margin-bottom: 64px;
}

.featured__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 16px;
}

.featured__item {
  background: #f8f8f8;
}

.featured__item img {
  width: 100%;
  display: block;
}

.featured__image-wrap {
  position: relative;
}

.featured__image-dark {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(58, 56, 56, 0.86);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured__image-dark button {
  background: none;
  border: 1px solid white;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 14px;
  font-size: 14px;
  font-family: inherit;
}

.featured__image-dark button img {
  width: 26px;
  height: 24px;
  margin-right: 11px;
}

.featured__data {
  padding: 23px 16px 20px;
}

.featured__name {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.featured__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-top: 12px;
  margin-bottom: 18px;
}

.featured__price {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.featured__browse-button {
  border: 1px solid #ff6a6a;
  margin-top: 40px;
  padding: 15px 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: none;
  color: #f26376;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
}

.featured__browse-button:hover {
  color: white;
  background: #ff6a6a;
}

@media (min-width: 768px) {
  .featured {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 1600px) {
  .featured {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 640px) {
  .featured__items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    row-gap: 18px;
    -webkit-column-gap: 16px;
            column-gap: 16px;
  }
}

@media (min-width: 1000px) {
  .featured__items {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

.featured__item:hover .featured__image-dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services {
  background: #222224;
  padding-top: 48px;
  padding-bottom: 81px;
  padding-left: 14px;
  padding-right: 14px;
}

.services__unit {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__title {
  font-size: 19.96px;
  line-height: 24px;
  margin-top: 27px;
  margin-bottom: 15px;
  color: #fbfbfb;
}

.services__text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  max-width: 340px;
  color: #fbfbfb;
}

.services .container {
  display: -ms-grid;
  display: grid;
  gap: 46px;
}

@media (min-width: 1200px) {
  .services {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .services .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 46px;
  }
}

.subscribe {
  background: url(images/subscribe.jpg) no-repeat;
  background-size: cover;
  padding-top: 64px;
  padding-bottom: 109px;
  padding-left: 20px;
  padding-right: 20px;
}

.subscribe__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__user-text {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #222224;
  max-width: 330px;
}

.subscribe__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 65px;
}

.subscribe__title {
  font-weight: 700;
  font-size: 24px;
  color: #222224;
  max-width: 271px;
  text-align: center;
}

.subscribe__text {
  font-size: 14px;
  color: #222224;
  margin-bottom: 22px;
  max-width: 271px;
  text-align: center;
}

.subscribe__form {
  height: 47px;
}

.subscribe__form input {
  height: inherit;
  background: #e1e1e1;
  border: none;
  padding: 6px 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  float: left;
  width: 185px;
}

.subscribe__form input:placeholder {
  color: #222224;
  font-family: inherit;
  opacity: 0.67;
}

.subscribe__form button {
  height: inherit;
  border: none;
  color: white;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  background: #f16d7f;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  padding: 0 17px;
}

@media (min-width: 1200px) {
  .subscribe {
    padding-top: 97px;
    padding-bottom: 126px;
  }
  .subscribe__right {
    margin-top: initial;
  }
  .subscribe .container {
    margin: 0 auto;
    width: 1140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer {
  background: #222224;
  padding: 43px 20px 10px;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__right {
  color: white;
}

.footer a {
  color: black;
  background: white;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.footer a:hover {
  background: #f16d7f;
  color: white;
}

.footer a:not(:last-child) {
  margin-right: 7px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .footer {
    padding: 24px 32px;
  }
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .footerRight {
    margin-top: 40px;
  }
}
/*# sourceMappingURL=style.css.map */